<table class="list">
  <thead>
  <tr>
    <th>Date</th>
    <th>% Done</th>
    <th>Spent Dev Days</th>
  </tr>
  </thead>
  <tbody>
  <% @version_progresses.each do |progress| %>
      <tr>
        <td><%= display_date(progress.created_at) %></td>
        <td>
          <%= progress_bar progress.percentage_done, :width => '80px', :legend => "#{display_percentage_done(progress.percentage_done)}%" %>
        </td>
        <td><%= display_spent_days(progress.spent_hours) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

