<%= render :partial => 'shared_header' %>

<%= form_tag version_progresses_url(), :method => :get, :id => "progress_report_form", :class => "new_issue" do %>
    <div class="box tabular">
      <p>
        <label>Project:</label>
        <%= select_tag :project_id, ("<option value=''></option>".html_safe) + project_tree_options_for_select(@projects, :include_blank => true)  %>
      </p>
    </div>
<% end %>