<%= render :partial => 'shared_header' %>

<%= form_tag version_progresses_url, :method => :get, :id => "progress_report_form", :class => "new_issue" do %>
    <div class="box tabular">
      <p>
        <label>Project:</label>
        <%= select_tag :project_id, project_tree_options_for_select(@projects, :selected => @project) %>
      </p>

      <%if @version%>
          <p>
            <label>Active Version:</label>
            <%= select_tag :version_id, options_from_collection_for_select(@versions, :id, :name, @version.id)%>
          </p>

          <p>
            <label>Period:</label>
            <%= select_tag :period, options_for_select([ ['All', 'all'], ['From a date till now', 'from_date'], ['Between two dates', 'between']], params[:period]) %>

            <span id="date_range_wrapper" style="display:none">
        <span id="from_date_wrapper">
        <%= text_field_tag :from_date, params[:from_date], :size => 10 %><%= calendar_for('from_date') %>

        </span>

        <span id="to_date_wrapper">
          to
          <%= text_field_tag :to_date, params[:to_date], :size => 10 %><%= calendar_for('to_date') %>
        </span>
        </span>
          </p>

          <label></label>
          <p>
            <%= submit_tag "Preview" %>
            <%= submit_tag "Export to CSV" %>
          </p>
      <%end%>
    </div>
<% end %>

<%= render :partial => "show_version_progresses" if @version_progresses %>